@import "tailwindcss";

@theme {
  --color-primary: #1a237e;
  --color-secondary: #455a64;
  --color-background: #f8f9fa;
}

@layer base {
  body {
    @apply bg-background text-secondary antialiased;
  }
}
